body {
    font-family: helvetica, sans-serif, arial;
    font-size: 0.8em;
    color: #111;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 2px;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

